# Combining Excel and Python

## Description
xlwings CE is a BSD-licensed Python library that makes it easy to call Python from Excel and vice versa:
- Scripting: Automate/interact with Excel from Python using a syntax close to VBA.
- Macros: Replace VBA macros with clean and powerful Python code.
- UDFs: Write User Defined Functions (UDFs) in Python (Windows only).
- REST API: Expose your Excel workbooks via REST API.

We will be using “xlwings.xlsx”.

### Level 1
- Use xlwings to read the values in the column A and then write them beside the initial values in column B

### Level 2
- Get the value in C9 and multiply it by 2.5 in Python

### Level 3
- Read the table which starts in E4 into Python. Multiply the prices by 2.5, and then output back into Excel starting in cell H5.
- Ensure that the outputted table appears in the same format as the original (pay attention to index and header)

### Level 4
- In column L, write 5, 10, 15 … 100 spaced two cells apart, so L1 would have 5, L4 would have 10, and so on.

## Required Imports

We just need the `xlwings` package for this, and the convention is to import as `xw`. Let's also go ahead and import `pandas` as well, because `xlwings` has an integration with `pandas`.

In [1]:
import xlwings as xw
import pandas as pd

In [3]:
# Connect to workbook
book = xw.Book('xlwings.xlsx')

# Connect to sheet
sht = book.sheets['Sheet1']

### Level 1

In [8]:
# Getting the values in column A
a_col_values = sht.range('A1:A5').value
a_col_values

['a', None, 'b', None, 'c']

In [9]:
# Adding the values to column B
sht.range('B1').value = [[i] for i in a_col_values]

### Level 2

In [52]:
# Getting the value
sht.range('C9').value

9.5

In [53]:
# Multiplying it by 2.5
sht.range('C9').value * 2.5

23.75

### Level 3

In [20]:
# Read the table from E4
df = sht.range('E4').expand().options(pd.DataFrame, index=False).value
df

  Ticker   Price
0   MSFT  100.12
1   AAPL  200.56
2   AMZN  324.54

In [21]:
# Mutiply price by 2.5
df['Price'] = df['Price'] * 2.5
df

  Ticker   Price
0   MSFT  250.30
1   AAPL  501.40
2   AMZN  811.35

In [54]:
# Add it back to excel in cell H4
sht.range('H5').options(pd.DataFrame, index=False).value = df

### Level 4

In [56]:
row = 1
for i in range(5, 105, 5):
    cell_ref = f'L{row}'
    sht.range(cell_ref).value = i
    row += 3